html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  max-width: 60%;
  max-height: 60%;
}

body {
  background-color: #fdfeef;
}
.plate {
  position: absolute;
  right: 32px;
  bottom: 24px;
  background-color: #fff;
  box-shadow: 3px 2px 1px rgba(0,0,0,.12);
  border: 1px solid #ccc;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 8px 16px;
  font-size: 12px;
  width: 240px;
}

.plate h1 {
  margin: 0;
  font-size: 14px;
}

.artist {
  margin-top: 8px;
  display: inline-block;
}

.artist:after {
  content: ",";
}
  
.year {
  opacity: 0.8;
}

.plate a {
  display: inline-block;
  margin-top: 2px;
  width: 100%;
  text-align: right;
}